
@{
    ViewData["Title"] = "LoginBySession";
}

<h1>LoginBySession</h1>
<form method="post" href="@Url.Action("LoginBySession","Home")">
    UserName : <input id="UserName" name="UserName" />
    PassWord : <input id="PassWord" name="PassWord" />
    <button>submit</button>
</form>
