
@{
    ViewData["Title"] = "LoginByCustomAuth";
}

<h1>LoginByCustomAuth</h1>

<form method="post" href="@Url.Action("LoginCookieAuth","Login")">
    UserName : <input id="UserName" name="UserName" />
    PassWord : <input id="PassWord" name="PassWord" />
    <button>submit</button>
</form>

<form method="post" href="@Url.Action("LoginByJWT","Login")">
    UserName : <input id="UserName" name="UserName" />
    PassWord : <input id="PassWord" name="PassWord" />
    <button>submit</button>
</form>
